[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = {extras = ["cpu"], version = "*"}
numpy = "*"
scipy = "*"
flask = "*"
click = "*"

[dev-packages]
black = "*"
pyinstrument = "*"

[requires]
python_version = "3.8"
