.container-outer {
    overflow: scroll;
    width: 1200px;
    height: 450px;
    padding-left: 100px;
    padding-top: 30px;
}

.container {
    width: 1500px;
    height: 450px;
    overflow: hidden;
}

select {
    font-size: 20px;
    color: #008CBA;
    left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #008CBA;
}


.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #eeeeee; /* Light gray */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    left: 90px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.openbtn:hover {
    background-color: #444;
}

.sbmtbtn {
    background-color: #008CBA;
    color: white;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.4s;
    padding: 10px 20px;
    border-radius: 5px;
}

.sbmtbtn:hover {
    background-color: white; /* Green */
    color: #008CBA;
    border: 2px solid #008CBA;
}

form.pure-form > label {
    margin-top: 0.5em;
    margin-left: 1em;
}

form.pure-form > input {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
}

form.pure-form > select {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
}
