<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disc Game Embedding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>

<body>
<div id="mySidebar" class="sidebar">
    <div class="options">
        <h1>Calculate Embedding</h1>
        <form action="/" id="escape-hatch"></form>
        <form class="pure-form" action="{{ url_for('embed') }}" enctype="multipart/form-data" method="post">
            <label for="features">
                {% if features_filename is defined %}
                    Loaded {{ features_filename }}
                {% else %}
                    Click to upload features matrix
                {% endif %}
            </label>
	        <input id="features" name="features" type="file" {% if payoff_filename is defined %}style="visibility:hidden"{% endif %}/><br>

            <label for="payoff">
                {% if payoff_filename is defined %}
                    Loaded {{ payoff_filename }}
                {% else %}
                    Click to upload payoff matrix
                {% endif %}
            </label>
            <input id="payoff" name="payoff" type="file" {% if payoff_filename is defined %}style="visibility:hidden"{% endif %}/><br>

            <input style="margin-top: 2em" class="pure-button pure-button-primary" type="submit" id="reset" form="escape-hatch"
               value="Reset">

	        <hr>

            <label for="scaling">Scaling scheme</label><br>
            <select name="scaling" id="scaling">
                <option value="auto" {% if scaling == "auto" %} selected {% endif %}> Automatic</option>
                <option value="fixed" {% if scaling == "fixed" %} selected {% endif %}> Fixed</option>
	        </select><br>

            <label for="color_by">Color by (feature index)</label><br>
            <input type="text" id="color_by" name="color_by" value="{{ color_by or 1 }}"></input><br>

            <input type="hidden" id="hexdigest" name="hexdigest" value="{{ hexdigest }}"/>

            <input style="margin-top: 2em" class="pure-button pure-button-primary" type="submit" id="submit"
                   value="Submit">
        </form>

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
</div>
<div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; Options</button>
    <div class="container-outer">
        <div class="container"></div>
    </div>

    <div class="container-outer">
        <div class="container1"></div>
    </div>

    <div class="container-outer">
        <div class="container2"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/data.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
</body>
</html>
